<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egypt Investopedia</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/chat.css">
</head>
<body>
    <main class="bg-hero">
        <div class="bg-image"></div>
        
        <%- include('../includes/nav.ejs') %>
       
        <div class="chat-icon" onclick="window.location.href = '/egypt-investopedia/Packages';" id="chatIcon">
            <i class="fa-solid fa-comment-dots"></i>
        </div>
        <!-- <span style="display: none;" id="userSpan"><%=//user.userid%></span> -->
 
        <div class="hero-body">
            <p>WELCOME TO EGYPT INVESTOPEDIA</p>
            <h2>Where Ideas Meets Growth</h2>
            <p class="hero-paragraph">At Egypt Investopedia, we are dedicated to bridging the gap between groundbreaking startups and forward-thinking investors. Our platform is designed to foster growth, collaboration, and success. </p>
            <div class="btns">
                <button>
                    <a href="/egypt-investopedia/registration" style="color: white;text-decoration: none;">Join as Entrpruner </a></button>
                <button><a href="/egypt-investopedia/registration" style="color: white;text-decoration: none;">Join as Investor</a></button>
            </div>
        </div> 
    </main>
    <section>
        <div class="services">
            <div class="service-card one highlight animate__animated animate__fadeInLeft">
                <i class="fa-solid fa-comments"></i>
                <h6>Financial Advisor</h6>
                <p>Exclusive access to financial advisors for personalized investment guidance.</p>
            </div>
            <div class="service-card two animate__animated animate__fadeInUp">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <h6>Investment Opportunities</h6>
                <p>Access to a diverse range of investment opportunities for investors.</p>
            </div>
            <div class="service-card three animate__animated animate__fadeInRight">
                <i class="fa-solid fa-rocket"></i>
                <h6>Startup Showcase</h6>
                <p>A platform for startup owners to showcase their ventures to potential investors.</p>
            </div>
        </div>
    </section>
    
    <section>
        <div class="startups">
            <div class="textarea-shadows animation">
                <p class="text-shadow">STARTUPS</p>
                <p class="text-relative">Looking for investment opportunities?</p>
                <p>Browse our latest exciting startup pitches and connect with entrepreneurs to discuss further.</p>
            </div>
            <div class="row">
                <div class="box animation">
            <div class="startup-card ">
                <img style="margin-bottom: 2rem;" src="/uploads/1718942586754-trella.png" alt="">
                <div class="text">
                <h3>Trella</h3>
                <p>Trella is a logistics startup that optimizes trucking operations through a tech-enabled platform, streamlining the transportation of goods in the Middle East and North Africa (MENA) region.</p>
                <div class="money-text">
                    <div>
                        <p>Total Requiered</p>
                        <p class="egb">5,000,000 EGP</p>
                    </div>
                    <div>
                        <p>Min Per Investor</p>
                        <p class="egb">1,000,000 EGP</p>
                    </div>
                </div>
                <button><a href="/egypt-investopedia/startups"  style="color: white;text-decoration: none;">Find Out More</a></button>
            </div>
               
            </div>
        </div>
        <div class="box animation">
            <div class="startup-card ">
                <img style="margin-bottom: 2rem;" src="/uploads/1718944703003-ecentus.png" alt="">
                <div class="text">
                <h3>Eventtus</h3>
                <p>Eventtus is an event management and engagement platform designed to enhance the attendee experience and streamline event organization for both organizers and participants.</p>
                <div class="money-text">
                    <div>
                        <p>Total Requiered</p>
                        <p class="egb">500,000 EGP</p>
                    </div>
                    <div>
                        <p>Min Per Investor</p>
                        <p class="egb">100,000 EGP</p>
                    </div>
                </div>
                <button><a href="/egypt-investopedia/startups"  style="color: white;text-decoration: none;">Find Out More</a></button>
            </div>
               
            </div>
        </div>
        <div class="box animation">
            <div class="startup-card ">
                <img  style="margin-bottom: 2rem;" src="/uploads/1718945810072-maxab_logo.jpeg" alt="">
                <div class="text">
                <h3>MaxAB</h3>
                <p>MaxAB is a B2B e-commerce platform specializing in connecting suppliers with small retailers in Egypt's informal market, offering a convenient and efficient way to purchase and deliver essential goods.</p>
                <div class="money-text">
                    <div>
                        <p>Total Requiered</p>
                        <p class="egb">1,500,000 EGP</p>
                    </div>
                    <div>
                        <p>Min Per Investor</p>
                        <p class="egb">250,000 EGP</p>
                    </div>
                </div>
                <button><a href="/egypt-investopedia/startups"  style="color: white;text-decoration: none;">Find Out More</a></button>
            </div>
               
            </div>
        </div>
        </div>
        <a class="circle-btn animation" href="/egypt-investopedia/startups"><i class="fa-solid fa-chevron-right"></i></a>
    </div>
    </section>

    <section class="stats">
    <h2 class="section-title animation">What We Achieved</h2>
    <div class="statistics">
     
        <div class="stats-container">
            <div class="stat-box animation">
                <div class="stat-icon">
                    <i class="fa-solid fa-users"></i>
                </div>
                <div class="stat-number">0+</div>
                <div class="stat-text">Startups</div>
            </div>
            <div class="stat-box animation">
                <div class="stat-icon">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                </div>
                <div class="stat-number">0+</div>
                <div class="stat-text">Investors</div>
            </div>
            <div class="stat-box animation">
                <div class="stat-icon">
                    <i class="fa-solid fa-comments-dollar"></i>
                </div>
                <div class="stat-number">0+</div>
                <div class="stat-text">Advisors</div>
            </div>
            <div class="stat-box animation">
                <div class="stat-icon">
                    <i class="fa-solid fa-chart-line"></i>
                </div>
                <div class="stat-number">0+</div>
                <div class="stat-text">Successful Investments</div>
            </div>
        </div>
    </div>
</section>

<section class="section-testimonials">
<h1 class="animation">What our clients says about us!</h1>
<div class="testimonials-container animation">
    <div class="testimonial">
        <div class="testimonial-content">
            <i style="float: left;" class="fa-solid fa-quote-left"></i><br><br>
            <p>"A good teacher can inspire hope, ignite the imagination, and instill a love of learning."</p>
            <i style="float: right;" class="fa-solid fa-quote-right"></i>
        </div>
        <div class="author">
            <img src="images/pexels-olly-3771807.jpg" alt="John Doe">
            <p>John Doe <br> investor</p>
        </div>
    </div>
    <div class="testimonial">
        <div class="testimonial-content">
            <i style="float: left;" class="fa-solid fa-quote-left"></i><br><br>
            <p>"Happiness radiates like the fragrance from a flower and draws all good."</p>
            <i style="float: right;" class="fa-solid fa-quote-right"></i>
        </div>
        <div class="author">
            <img src="images/1_New1.jpg" alt="Johanna Smith">
            <p>Johanna Smith <br> Investor</p>
        </div>
    </div>
    <div class="testimonial">
        <div class="testimonial-content">
            <i style="float: left;" class="fa-solid fa-quote-left"></i><br><br>
            <p>"A good leader takes a little more than his share of the blame, a little less than his share of the credit."</p>
            <i style="float: right;" class="fa-solid fa-quote-right"></i>
        </div>
        <div class="author">
            <img src="images/pexels-pixabay-415829.jpg" alt="Kylie One">
            <p>Kylie One <br> Zedny Founder</p>
        </div>
    </div>
    <div class="testimonial">
        <div class="testimonial-content">
            <i style="float: left;" class="fa-solid fa-quote-left"></i><br><br>
            <p>"Success is not final, failure is not fatal: It is the courage to continue that counts."</p>
            <i style="float: right;" class="fa-solid fa-quote-right"></i>
        </div>
        <div class="author">
            <img src="images/ali-morshedlou-WMD64tMfc4k-unsplash.jpg" alt="Alex Smith">
            <p>Alex Smith <br> Shezlong Founder</p>
        </div>
    </div>
    
</div>
<a href="#feedback" class="animation">Send Feedback</a>
</section>

<section>
    <div class="events">
        <div class="events-bg-trans"></div>
            <h1 class="animation">Forums You Can Participate In </h1>
        <div class="row">
            <div class="box animation">
        <div class="startup-card ">
            <img src="images/shezlong-removebg-preview.png" alt="">
            <div class="text">
            <h3>Forums Name</h3>
            <div class="date"> <p>Satrt Date:</p><span>12/4/2024</span></div>
            <button>Show More Details
            </button>
        </div>
           
        </div>
    </div>
    <div class="box animation">
        <div class="startup-card">
            <img src="images/shezlong-removebg-preview.png" alt="">
            <div class="text">
                <h3>Forums Name</h3>
            <div class="date"> <p>Satrt Date:</p><span>12/4/2024</span></div>
            <button>Show More Details
            </button>
        </div>
           
        </div>
    </div>
    <div class="box animation">
        <div class="startup-card ">
            <img src="images/shezlong-removebg-preview.png" alt="">
            <div class="text">
                <h3>Forums Name</h3>
           <div class="date"> <p>Satrt Date:</p><span>12/4/2024</span></div>
            <button>Show More Details
            </button>
        </div>
           
        </div>
    </div>
    </div>
    
    <a class="circle-btn animation" href="/egypt-investopedia/events"><i class="fa-solid fa-chevron-right"></i></a>
</div>
</section>

<div class="steps-container animation">
    <h2>Connect,<span class="highlight"> Invest,</span>  Grow </h2>
    <p>Some <span class="highlight">easy steps</span> to process!</p>
    <div class="buttons">
        <p class="toggle-btn active" id="investor-btn">Investor</p>
        <p class="toggle-btn" id="startup-btn">Entrpruner</p>
    </div>
    <div class="steps-wrapper">
        <div class="steps" id="investor-steps">
            <div class="step">
                <div class="step-number">01</div>
                <div class="step-detail">Join and Explore</div>
                <p> Register and complete your profile, to explore detailed startup listings.</p>
            </div>
            <div class="line"></div>
            <div class="step">
                <div class="step-number">02</div>
                <div class="step-detail">Make Investment Offers</div>
                <p>Choose startups to invest in, and make investment proposals directly.</p>
            </div>
            <div class="line"></div>
            <div class="step">
                <div class="step-number">03</div>
                <div class="step-detail">Track Investments</div>
                <p>Monitor all your investments in one place, get updates and track progress.</p>
            </div>
            <div class="line"></div>
            <div class="step">
                <div class="step-number">04</div>
                <div class="step-detail">Access Premium Advisory</div>
                <p>Upgrade for personalized advice, and chat with your advisor anytime.</p>
            </div>
        </div>
        <div class="steps" id="startup-steps" style="display:none;">
            <div class="step">
                <div class="step-number">01</div>
                <div class="step-detail">Join and Showcase</div>
                <p>Create an account and complete your profile, List your startup in our gallery to attract investors.</p>
            </div>
            <div class="line"></div>
            <div class="step">
                <div class="step-number">02</div>
                <div class="step-detail">Receive & Review Offers</div>
                <p>Get investment proposals from interested investors,  Evaluate and select the best offers.</p>
            </div>
            <div class="line"></div>
            <div class="step">
                <div class="step-number">03</div>
                <div class="step-detail">Connect and Negotiate</div>
                <p>Accept or reject investment offers, and meet with investors to finalize details.</p>
            </div>
            <div class="line"></div>
            <div class="step">
                <div class="step-number">04</div>
                <div class="step-detail"> Participate in forums</div>
                <p>Participate in exclusive networking forums,  Follow our forums calendar for opportunities.</p>
            </div>
        </div>
    </div>
    <h2 style="color: #002040;">Join Now As</h2>
    <div class="join-btns animation">
        <button class="animation"><a href="/egypt-investopedia/registration"></a>Investor</button>
        <button class="animation"><a href="/egypt-investopedia/registration"></a>Entrpruner</button>
    </div>
</div>


<div style="background-color: #ffcc004d;">
<div class="sec6">
    <div class="meet animation">
      <h2>Meet Some Of Our Financial Advisors & Start Chatting Now!</h2>
      <p>Our expert financial advisors are here to help you make informed investment decisions. Connect with them directly for personalized advice and insights tailored to your unique needs. Whether you're a startup looking for guidance or an investor seeking opportunities, our advisors are ready to assist you every step of the way.</p>
      <a  href="/egypt-investopedia/Packages"><button style="cursor: pointer;">Start Chatting Now</button></a>
    </div>
    <div class="person" style="background-color: #002040;border-radius: 5px;">
    <div class="person1 animation ">
      <div class="opacity">
        <div class="social">
          <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div class="social">
          <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="social">
          <a href=""><i class="fa-brands fa-instagram"></i> </a>
        </div>
        <div class="name">
            <h5>Maximus Holden</h5>
            <p>Financial Advisor</p>
          </div>
      </div>
    </div>
   
    </div>
    <div class="person" style="background-color: #002040;border-radius: 5px;" class="">
    <div class="person2 animation">
      <div class="opacity">
        <div class="social">
          <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div class="social">
          <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="social">
          <i class="fa-brands fa-instagram"></i> 
        </div>
        <div class="name">
            <h5>Bryn Mccormick</h5>
            <p>Financial Advisor</p>
          </div>
      </div>
    </div>
    </div>
  </div>
</div>
  <div class="sec9" id="feedback">
    <div class="contact animation">

        <h2>GET IN TOUCH</h2>
        <p>Far far away behind the word mountains far from the <br> countries Vokalia and Consonantia there live the blind texts.</p>
        <h4>Cairo, Maadi</h4>
        <p><i class="fa-solid fa-phone"></i> +01226228360</p>
        <p><i class="fa-solid fa-envelope"></i> egyptinvestopedia@gmail.com</p>
        <p><i class="fa-solid fa-location-dot"></i> Ninth St. Maadi, Cairo</p>
    </div>
    <div id="feedback-form" class="feedback animation">
      <form action="/feedback" method="POST">
        <input type="email" name="email" placeholder="Your E-mail" required>
        <input type="text" name="subject" placeholder="Your Subject" required>
        <textarea class="area" name="message" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
        <div style="width: 82%;"> <button class="inputt" type="submit">Send Message</button> </div>
        <% if (message) { %>
            <div style="margin-left: -14rem;margin-top: 1rem;color: #ffcc00;font-size: 18px;" class="<%= message.type %>"><%= message.content %></div>
          <% } %>
      </form>
      
    </div>
  </div>
  <%- include('../includes/footer.ejs') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script src="/js/chat-user.js"></script>
  <script src="js/nav.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
